<div class="porfolio_intro_container">
  <!-- text Section -->
  <div class="intro_text">
    <h3>Hello,Its Me</h3>
    <h1>Rohini Harnale</h1>
    <h3>
      I'm <span class="text">{{ currentDisplayedSkill }}</span>
    </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur iste
      enim ipsum dolorem,<br />
      perferendis error sit maiores deleniti laborum architecto quod atque sequi
      similique iusto aut ea inventore
    </p>
    <div>
      <div class="social_Media">
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </div>
    <button class="aboutMeBtn">More About Me</button>
  </div>
  <!-- img Section -->
  <div class="personal_img">
    <img
      src="../../../../assets/girl.avif"
      alt="personal_Img"
      title="personal_img"
    />
  </div>
</div>
